* {
  margin: 0;
  padding: 0
}

li {
  list-style: none
}

a {
  text-decoration: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
}

/* start of wallpaper section */
main {
  font-family: 'Ubuntu', sans-serif;
  margin: 0 0 0 119px
}

.img-container {
  margin: 0 6vw
}

.device-name {
  font-size: 1.8em;
  color: #515151
}

.resolution {
  font-size: 25px;
  margin-left: 6vh;
}

.uploader {
  margin: 7vh
}

.desktop-img {
  margin-left: 2vw;
  margin-top: 51px;
  height: 38vh;
  width: 27vw
}

.download-btn {
  height: 2em;
  width: 6em;
  font-family: 'Noto Sans', sans-serif;
  cursor: pointer;

  padding: 0.5vh;

  background: #F87272;
  color: white;
  border: none;
  border-radius: 9px;
}

.wallpaper-container {
  display: flex;
  flex-wrap: wrap;
  color: #515151;
  margin-bottom: 2vh
}


/* android design */
@media only screen and (max-width: 1017px) {
  .wallpaper-container {
    display: flex;
    justify-content: center;
  }

  .desktop-img {
    height: 50vh;
    width: 50vw;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 731px) {}
